[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "china-beancount-importers"
version = "0.0.3"
description = "A set of importers maybe useful for you in China."
authors = ["Trim21 <i@trim21.me>"]
license = "MIT"
repository = 'https://github.com/Trim21/china-beancount-importers'
packages = [{ include = 'china_beancount_importers' }]

[tool.poetry.dependencies]
python = "^3.7"
beancount = '>=2.3.0,<3.0.0,!=2.3.1'

[tool.poetry.dev-dependencies]
pre-commit = '==2.19.0'
# tests
coverage = "==6.4.1"
pytest = "==7.1.2"
pytest-github-actions-annotate-failures = "==0.1.6"
# linter
mypy = "^0.770"
flake8 = "==4.0.1"
flake8-comprehensions = "==3.10.0"
flake8-bugbear = "==22.4.25"
flake8-mutable = "1.2.0"

[tool.isort]
default_section = 'THIRDPARTY'
indent = '    '
known_first_party = 'china_beancount_importers'
length_sort = true
line_length = 88
multi_line_output = 3
no_lines_before = 'LOCALFOLDER'
use_parentheses = true
include_trailing_comma = true

[tool.pytest.ini_options]
addopts = '-rav'
