[build-system]
requires = ["flit-core==3.11.0"]
build-backend = "flit_core.buildapi"

[project]
name = "china-beancount-importers"
version = "0.0.3"
description = "A set of importers maybe useful for you in China."
authors = [{ name = "Trim21", email = "i@trim21.me" }]
license = "MIT"
requires-python = '>=3.9,<4'
dependencies = ["beancount >=3.0.0,<4", "beangulp>=0.2.0"]
urls.repository = 'https://github.com/Trim21/china-beancount-importers'

[project.optional-dependencies]
docs = ['sphinx==5.3.0', 'sphinx-rtd-theme==1.1.1', 'recommonmark==0.7.1']

[dependency-groups]
dev = [
  # tests
  "coverage ==6.5.0",
  "pytest>=8.3.5",
  "pytest-github-actions-annotate-failures>=0.3.0",
  # lint
  "mypy>=1.15.0",
]

[tool.pytest.ini_options]
addopts = '-rav'

[tool.ruff.lint]
extend-select = ['I']
