name: ci

on:
  push:
    paths-ignore:
      - docs/**
      - readme.md
      - .gitignoree
      - .pre-commit-config.yaml
      - .chglog/**
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: "true"

      - run: uv sync --frozen

      - name: test
        run: coverage run -m pytest

      - uses: codecov/codecov-action@v5
