name: lint

on:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: 'true'

      - run: uv sync --frozen

      - uses: liskin/gh-problem-matcher-wrap@v3
        with:
          action: add
          linters: mypy
          run: mypy --show-column-numbers china_beancount_importers

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: trim21/actions/prek@master
